/*  Author: Jack Watling  */
/*    Date: July, 2012    */

body{
	background: #e5e5e5;
}

h1{
	font-family: 'RobotoThin';
	font-weight: normal;
	text-align: center;
	font-size: 3em;
	color: #919191;
	width: 600px;
	margin: 0 auto;
	text-shadow: 1px 1px 0 #00bdf4;
}

ul.twitter{
	font-family: 'RobotoLight';
	color: #707070;
	width: 600px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

ul.twitter > li{
	background: #ffffff;
	padding: 15px 10px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 2px 1px 0px #ccc;
	margin: 20px 0;
}

ul.twitter li section.info{
	font-family: 'RobotoLight';
	font-size: 1.5em;
	border-bottom: 3px solid #f7f7f7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

ul.twitter li section.info img{
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	margin-top: -3px;
	padding: 0 10px 0 0;
}

ul.twitter li section.info a,
ul.twitter li section.meta a{
	color: #888888;
	text-decoration: none; 
}

ul.twitter li section.info a.date{
	font-size: 0.75em;
	line-height: 1.5em;
	float: right;
}

ul.twitter li section.info a:hover{
	color: #00bdf4;
}

ul.twitter li section.meta a.blue{
	color: #00bdf4;
}

ul.twitter li p{
	font-weight: normal;
	color: #a2a2a2;
	font-size: 1.2em;
	margin: 0;
	line-height: 25px;
}

ul.twitter li p a{
	color: #00bdf4;
	text-decoration: none;
}

ul.twitter li p a:hover{
	border-bottom: 1px dotted #00bdf4;
}

ul.twitter li span.break{
	height: 20px;
	display: block;
	margin: -2px 0 -10px 0;
	color: #909090;
	font-size: 2.5em;
	text-align: center;
	line-height: 0px;
	cursor: pointer;
}

ul.twitter li span.break:hover{
	color: #00bdf4;
}

ul.twitter li section.meta{
	margin-top: 15px;
}

ul.twitter li section.meta ul{
	padding: 0;
}

ul.twitter li section.meta ul li{
	font-size: 0.9em;
	line-height: 0.9em;
	list-style: none;
	margin: 5px 0;
}

ul.twitter li section.meta ul li:first-child{
	margin-top: 0;
}

ul.twitter li section.meta ul li:last-child{
	margin-bottom: 0;
}

ul.twitter section.meta ul li a{
	color: #00bdf4;
}

ul.twitter section.meta ul li a:hover{
	border-bottom: 1px dotted #00bdf4;
}